.review-item{
    border:1px solid rgb(182, 219, 173);
    border-radius: 8px;
    padding:8px;
    margin-top: 20px;
    width: 571px;
    display: flex;
}
.review-item img {
    width: 91px;
    margin-right: 20px;
}
.review-item-detail p{
    margin:0;
}
.review-item-detail-container{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.delete-icon{
    color: rgb(199, 86, 86);  
    font-size: 27px;
}

.review-item .delete-button{
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}
.review-item .delete-container{
    display: flex;
    align-items: center;
}